
<div style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
    <h2>Created by:</h2>   
    <div class="card"  style="width: 30rem;">
        <h1 class="card-header text-center">Artem Buhaiov</h1>
        <div class="card-body">
        <ul class="list-group list-group-flush text-center">
            <li class="list-group-item h5"><strong><a href = "mailto: salagonfiza4@gmail.com" class="link-dark text-decoration-none">salagonfiza4@gmail.com</a></strong></li>
            <li class="list-group-item h5"><strong><a href = "tel:+380937867693" class="link-dark text-decoration-none">+380937867693</strong></li>
        </ul>
    </div>
  </div>
</div>