<div class="card">
  <h2 class="card-header">Editing patient</h2>
  <div class="card-body">
    <%= render "form", patient: @patient %>
    <br>
    <div>
      <%= link_to "Back", @patient, class:"btn btn-warning" %>
    </div>
  </div>
</div>