<div class="card">
  <h2 class="card-header">Editing doctor</h2>
  <div class="card-body">
    <%= render "form", doctor: @doctor %>
    <br>
    <div>
      <%= link_to "Back", @doctor, class:"btn btn-warning" %>
    </div>
  </div>
</div>