<div class="card">
  <h2 class="card-header">Editing appointment</h2>
  <div class="card-body">
    <%= render "form", appointment: @appointment %>
    <br>
    <div>
      <%= link_to "Back", @appointment, class:"btn btn-warning" %>
    </div>
  </div>
</div>